/** test **/
.test-border {
  border: solid;
  border-color: green;
}
/** test **/

.movie-container {
  display: flex;

  .movie-ribbon {
    height: 30px;
    width: 100%;
    margin: auto;
    background-color: rgb(235, 235, 235);
  
    .search-input {
      // width: 100%;
      margin: auto;

      border-radius: 100px;
      // flex-grow: 0;
    }
  }

  .movie-list {
    height: 400px;
    width: 300px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: white;
    }

    .movie-cell {
      &:hover {
        background-color: rgb(192, 192, 192);
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      height: 60px;

      color: black;
      font-size: 15px;
      background-color: whitesmoke;

      padding: 10px;

      .movie-labels {
        padding: 5px;

        overflow: hidden;
        // text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        // white-space: nowrap;

        .movie-name {
          font-size: 15px;
        }

        .movie-description {
          font-size: 10px;
        }
      }

      img {
        height: 100%;
      }

      .movie-cell-action {
        width: 50px;
      }
    }
  }
}